doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui")
    title= "Shake it!"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(defer src="/js/main.734c99cf8cf5ce0a0d42.js")
    script(defer src="/js/main.bc5b242bd5916e49a02c.js")
  body
    block content
