doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui")
    title= "Shake it!"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(defer src="/js/main.3215b189863cc859df6e.js")
  body
    block content
