doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui")
    title= "Shake it!"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(defer src="/js/main.6dd65d9737bc32c7136e.js")
    script(defer src="/js/main.74bfb389ec69c15a5f4f.js")
    script(defer src="/js/main.4f577e5c658d0f2731e9.js")
    script(defer src="/js/main.b59806a074c44b41fe42.js")
    script(defer src="/js/main.54fc967b57d2b7d4dbd5.js")
  body
    block content
