@import '../../front/res/css/reset.styl'
@import '../../front/res/css/variables.styl'
@import 'fonts.styl'

body
  font-family: $f-main
  font-size: 16px
  font-style: normal
  font-weight: normal
  line-height: 22px

