@import "../res/css/variables.styl"
@import "../res/css/mixins.styl"

.index
  center: column
  //justify-content: flex-start
  //align-items: center
  padding: 16px
  color: #21

  @media is-mobile
    padding: 16px 24px

  &__actual
    padding-top: 'min(12vw, 128px)' % ''
    margin-bottom: 'min(12vw, 96px)' % ''
    font-size: 'min(12vw, 128px)' % ''
    font-weight: 600;

  &__prev
    margin-bottom: 'min(16vw, 128px)' % ''
    font-size: 'min(6vw, 64px)' % ''
    color: #444

  &__buttons
    padding: 0 16px
