@import './reset.styl'
@import './variables.styl'
@import "./mixins.styl"

global-reset()

*
  box-sizing: border-box
  user-drag: none

div,
span,
canvas
  user-select: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

html,
body
  display: block
  margin: 0
  padding: 0

body
  font-family: $f-main

.button
  display: flex
  justify-content center
  padding: 8px 16px
  border-radius: 4px
  font-size: 18px
  font-family: inherit
  color: #fff
  background: #326690
  min-width: 128px
  cursor: pointer

  &:hover
    background: #285274

  &--orange
    background: #FF7247

    &:hover
      background: #FF531F
